<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in for Bibliophile's Paradise</title>
</head>
<body>
    <h1>Log in to Bibliophile's Paradise!</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <input type="submit" value="Log in">
    </form>
    <p>Don't have an account?  Please <a href="/">register</a>!</p>
</body>
</html>