<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book search</title>
</head>
<body>
    <p><a href="/books">Back to all books</a></p>
    <form action="/logout" method="POST">
        <input type="submit" value="Log out">
    </form>
    <h1>Search for a new book:</h1>
    <p>Search by author and title:</p>
    <form action="/search-by-title-and-author" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ form_data['title'] }}">
            {% if error_data["title"] %}
                <p style="color: red;">{{ error_data["title"] }}</p> <!-- Temporary styling -->
            {% endif %}
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="{{ form_data['author'] }}">
            {% if error_data["author"] %}
                <p style="color: red;">{{ error_data["author"] }}</p> <!-- Temporary styling -->
            {% endif %}
        </div>
        <input type="submit" value="Search">
    </form>
    <p>Search by ISBN:</p>
    <form action="/search-by-isbn" method="POST">
        <div>
            <label for="isbn">ISBN (10 or 13 digits):</label>
            <input type="text" id="isbn" name="isbn" value="{{ form_data['isbn'] }}">
            {% if error_data["isbn"] %}
            <p style="color: red;">{{ error_data["isbn"] }}</p> <!-- Temporary styling -->
            {% endif %}
        </div>
        <input type="submit" value="Search">
    </form>
    {# FUTURE: Display books saved in database first, then books NOT in database. #}
    <h2>Results:</h2>
    {% for id in book_results %}
    <img src="{{ book_results[id].thumbnail }}">
    <p>{{ book_results[id].title }}</p>
    <p>by {{ book_results[id].authors }}</p>
    <p>ISBN: {{ book_results[id].isbn13 }}</p>
    <p>Pages: {{ book_results[id].page_count }}</p>
    <p>Publication date: {{ book_results[id].publication_date }}</p>
    {% if not book_results[id].is_in_db %}
    <form action="/add-book-to-database-and-shelf" method="POST">
        <input type="hidden" name="google_volume_id" value="{{ id }}">
        <input type="submit" value="Add to bookshelf">
    </form>
    {% elif book_results[id].is_in_users_shelf %}
        <p>This book is in your shelf.</p>
    {% else %}
        <p>This book is in the database, but not in your shelf.</p> {# FUTURE: Add button to allow user to add book to shelf. #}
    {% endif %}
    <hr/> <!-- Temporary -->
    {% endfor %}
</body>
</html>